<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Etiqueta</title>

  </head>
  <body style="background-color: black;">
    <div>
      <h1>Olá! Este é meu PDF gerado a partir de um HTML! :)</h1>
      Minha variavel: <%= variavel %>
    </div>
  </body>
</html>
